html {
  background-color: rgb(230, 230, 230);
}

header, main, footer {
  background-color: rgb(230, 230, 230);
  position: absolute;
  min-width: 800px;
  width: 80%;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: auto 135px 135px;
  position:fixed;
  top:0;
  left:10%;
  right:10%;
  height:40px;
  overflow: hidden;
}

.grid-item {
  padding-top: 8px;
  font-size: 20px;
  text-align: center;
  top:auto;
  bottom:auto;
}

button {
  top:0;
  bottom:0;
  font-size:15px;
  width: 120px;
}

.item-left {
  text-align: left;
}

.item-right {
  text-align: right;
}

main {
  top:40px;
  bottom:43px;
  overflow: auto;
}

footer {
  bottom:0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}